/* @import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap'); */

/* #app {
  font-family: 'Pacifico', 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #297dd1;
  background-color: rgb(15, 15, 15);
  height: 100vh;
  max-width: 600px;
} */

.middle-centered {
  display: flex !important;
  align-items: center !important;
  text-align: center !important;
  min-height: inherit !important;
}

  h1 {
    color: white !important;
  }

  h2 {
    color:#F5A623 !important;
  }

  h4 {
    color:#F5A623 !important;
    text-transform: uppercase;
  }

  h3 {
    color:#e69b64 !important;
    margin-bottom:6px;
  }